
.Backbutton{
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
}
.LoginBox{
    background-color: rgb(252, 198, 198);
    border: solid rgb(255, 146, 219) 3px;
    margin: 90px;
    padding: 20px;
    text-align: center;
    color: rgb(50, 0, 70);
}
input{
    margin:5px;
}