body{
    color: white;
}
h1{
    color: rgb(25, 2, 46);
    text-align: center;
}
.hidden{
    display: none;
}
.side{
    float: left;
}
.char-counter{
    color: grey;
    text-align: right;
}
.column{
    border: 3px solid rgb(130, 101, 139);
    float: left;
    width: 200px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(45, 16, 49);
    padding: 10px;
}
form{
    float: left;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    width: 35%;
    margin-top: 30px;
    background-color: rgb(101, 74, 104);
    border: 3px dotted rgb(40, 4, 65);
    padding: 10px;
}
textarea, select{
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
label{
    display: block;
    padding: 10px;
}
.btns, .btns a{
    display: block;
    color: #ffffff;
    background-color: rgb(68, 41, 66);
    border: 2px solid black;
    width: 60px;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    text-decoration: none;
}